<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notificação</title>
    <!-- <link rel="stylesheet" href="stylesPesquisador.css" /> -->
    <link rel="stylesheet" href="index3.css" />
    <!-- Link de Google Tradutor -->
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </head>

  <nav id="mySidenav" class="sidenav">
    <a href="/home_collector" > <img src="logo_menu_inativa.png" alt="Apotich"></a>
    <a href="/collector_profile" > <img src="profile_icon_menu.png" alt="Perfil"></a>
    <a href="/home_collector" > <img src="home_icone_menu.png" alt="Home"></a>
    <a href="/notificationsCollectors" > <img src="bell_icon_inativo_menu.png" alt="Notificações"></a>
    <p id="logo_fim_rodape">Apotich</p>
  </nav>

  <section class="box_head_notificacao">
  <div class="head_notificacao">
    <h1 class="noti">Notificações</h1>
    <img class="bell_icon_"  src="sino_branco.png" />
  </div>
  </section>

  <body>

    <main class="main_notificacao">

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notificacao">
            <br />
            <strong>Quadro 1</strong>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
    </section>

    <section class="divisoria_notificacao"> 
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <strong>Quadro 2</strong>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
    </section>

    <section class="divisoria_notificacao"> 
      <div class="linha">
        <div class="box_notifcacao">
          <br />
          <strong>Quadro 3</strong>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
            eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
            quis augue et, facilisis dignissim diam. Nunc id dui vitae est
            aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
            orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
            aliquam consequat leo.
          </p>
        </div>
      </div>
  </section>

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <strong>Quadro 4</strong>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
    </section>

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <strong>Quadro 5</strong>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
     </section>

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <strong>Quadro 6</strong>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
      </section>

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <strong>Quadro 7</strong>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
      </section>
    </main>
    <script src="translate.js"></script>

  </body>
</html>
