<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Potich - home</title>
  </head>
  <body>
    <div class="Teste.1">
      <h2>Seja bem vindo</h2>
      <h1>Apotich</h1>
      <p style="font-family: Georgia, Times, Times New Roman, serif">
        Preencha seus dados aqui:
      </p>
    </div>

    <picture
      ><img class="logooo" style="width: 20%" src="LogoPotich.png"
    /></picture>
    <main>
      <div class="login">
        <h1>Log-in</h1>
        <form method="GET" action="/home_researcher">
          <h2>User:</h2>
          <input type="text" name="user" />
          <h2>Password:</h2>
          <input type="password" name="password" />
          <br /><br />
          <button type="submit" class="envia">Enter</button>
        </form>
      </div>
    </main>
    <footer
      id="roda_pe"
      style="font-family: Georgia, Times, Times New Roman, serif"
    >
      <p>©2023 por Potich</p>
    </footer>
  </body>
</html>
