<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= 'stylesheet' href="index.css">
        <title>Potich - home</title>
        <style type="text/css">
            body {text-align: center;
                align-items: center;}
        </style>
    </head>
    <body>
        <div class="Teste.1">
            <h1>Seja bem vindo a potich</h1>
            <p>Preencha seus dados aqui:</p>
        </div>

        <div><img class="logooo" style="width: 10%;" src="LogoPotich.png"></div>

        <div class="login">
            <h1>Log-in</h1>
            <form method="GET" action="/home_researcher">
                <h2>User: </h2>
                <input type="text" name="user">
                <h2>Password: </h2>
                <input type="password" name="password">
                <br><br>
                <button type="submit">Enter</button>
            </form>
        </div>
        <section id="roda_pe">
            <p>©2023 por Potich</p>
        </section>
    </body>
</html>