<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>
    <body>
        <main>
            <img style="width: 5%;" src="https://img.icons8.com/material/96/null/left2--v1.png">

                <section id="sign_in">
                    <div class="cadastro">
                        <div> 
                            <img class="logooo" style="width: 10%;" src="../Images/LogoPotich.png">
                        </div>
                        <div class="formulario">
                            <h2>Sign in</h2>
                            <br>
                            <form method="GET" action="/fazer_signin"></form>
                                <label for="fname">Login:</label><br>
                                <input type="text" id="fname" name="fname"><br>
                                <label for="lname">Senha:</label><br>
                                <input type="text" id="lname" name="lname"><br>
                                <label for="lname">Corfirmar senha:</label><br>
                                <input type="text" id="lname" name="lname"><br>
                                <br><br>
                                <input type="submit" class="enviab" value="Cadastrar">
                            </form>
                        </div>
                    </div>
                </section> 
                <section id="roda_pe">
                    <p>©2023 por Potich</p>
                </section>
        </main>
    </body>
</html>