<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= 'stylesheet' href="index.css">
        <title>Register</title>
    </head>
    <body>
        <main>
            <img class="volta_button" width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/u-turn-to-left.png" alt="u-turn-to-left"/>

                <section id="sign_in">
                    <div class="cadastro">
                        <div> 
                            <img class="logooo" style="width: 40%;" src="LogoPotich.png">
                        </div>
                        <div class="formulario">
                            <h2>Sign in</h2>
                            <br>
                            <form method="POST" action="/registering">
                                <label for="name_user">Login:</label><br>
                                <input type="text" id="name_user" name="name_user"><br>
                                <label for="password_user">Senha:</label><br>
                                <input type="text" id="password_user" name="password_user"><br>
                                <label for="confirm_password_user">Confirmar senha:</label><br>
                                <input type="text" id="confirm_password_user" name="confirm_password_user"><br>

                                <input type="radio" id="type_user" name="type_user" value="Pesquisador">
                                <label for="type_user">Researcher</label><br>
                                <!-- <input type="radio" id="type_user" name="type_user" value="Coletor">
                                <label for="type_user">Colector</label><br> -->
                                <br><br>
                                <button type="submit" class="envia">Register</button>
                            </form>
                        </div>
                    </div>
                </section> 
                <section id="roda_pe">
                    <p>©2023 por Potich</p>
                </section>
        </main>
    </body>
</html>