<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= 'stylesheet' href="index.css">
        <title>Register</title>
    </head>
    <body>
        <main>
            <img class="volta_button" width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/u-turn-to-left.png" alt="u-turn-to-left"/>

                <section id="sign_in">
                    <div class="cadastro">
                        <div> 
                            <img class="logooo" style="width: 40%;" src="LogoPotich.png">
                        </div>
                        <div class="formulario">
                            <h2>Sign in</h2>
                            <br>
                            <form method="GET" action="/fazer_signin"></form>

                            <fieldset>
                                <legend><label for="login"><strong> Login:</strong></label></legend><br>
                                <input type="text" id="login" name="login"><br>
                            </fieldset>

                                <fieldset>
                                <legend><label for="senha"><strong>Senha:</strong> </label></legend><br>
                                <input type="text" id="senha" name="senha"><br>
                            </fieldset>

                            <fieldset>
                                <legend><label for="senha_confirmar"><strong> Corfirmar senha:</strong></label></legend><br>
                                <input type="password" id="senha_confirmar" name="senha_confirmar">
                            </fieldset>
                                <br>
                                
                                <div class="button_login">
                                    <input type="submit" class="envia" value="Cadastrar">
                                 </div>

                            </fieldset>    
                            </form>
                        </div>
                    </div>
                </section> 
                <section id="roda_pe">
                    <p>©2023 por Potich</p>
                </section>
        </main>
    </body>
</html>