<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />

    <title>Errou</title>
  </head>
  <img
    width="96"
    height="96"
    src="https://img.icons8.com/color/96/000000/disapprove.png"
    alt="disapprove"
  />
  <body>
    <div class="errou">
      <h1>Errou</h1>
      <p>Por favor, tente novamente:</p>
      <br />
      <input type="submit" class="envia" value="voltar" />
    </div>
  </body>
</html>
