<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= 'stylesheet' href="index.css">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <!-- <script src="createProtocol.js"></script> -->
        <title>Create protocol</title>
    </head>
    <body>
        <main>
            <section>
                <h3>Create protocol</h3>
            </section>
            <section>
                <div id="formProtocol">
                    <label for="name_protocol">Name:</label>
                    <input type="text" name="name_protocol" id="name_protocol" required>
                    <br>
                    <label for="objective_protocol">Objective:</label>
                    <input type="text" name="objective_protocol" id="objective_protocol" required>
                    <br>
                    <button type="button" onclick="createSamples()">Add sample</button>
                    <div class="samples-container"></div>
                    <br>
                    <button id="submitButton" type="submit">Create protocol</button>
                </div>
            </section>
        </main>
        <script src="c_protocol.js"></script>
    </body>
</html>