<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= 'stylesheet' href="index2.css">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <!-- <script src="createProtocol.js"></script> -->
        <title>Create protocol</title>
    </head>

    <nav id="mySidenav" class="sidenav">
        <a href="/home_researcher" > <img src="logo_menu_inativa.png" alt="Apotich"></a>
        <a href="/researcher_profile" > <img src="profile_icon_menu.png" alt="Perfil"></a>
        <a href="/home_researcher" > <img src="home_icone_menu.png" alt="Home"></a>
        <a href="/notificationsResearchers" > <img src="bell_icon_inativo_menu.png" alt="Notificações"></a>
        <a href="/createProtocol" > <img src="add_protocolo_pesquisador.png" alt="Criar Protocolo"></a>
        <p id="logo_fim_rodape">Apotich</p>
    </nav>

    <body class="body_creat_protocol">
        <section class="titulo_creat_protocolo">
            <h1>Create protocol</h1>
            <img src="creat_protocol_icon.png" alt="creat_protocol_icon">
        </section>
        <main class="main_creat_protocol">
            
            <section class="main_creation">
                <div id="formProtocol">
                    <label for="name_protocol"><strong>Name:</strong> </label>
                    <input type="text" class="inputs_creation" name="name_protocol" id="name_protocol" required>
                    <br>
                    <label for="objective_protocol"><strong>Objective:</strong> </label>
                    <input type="text" class="inputs_creation" name="objective_protocol" id="objective_protocol" required>
                    <br>
                    <button type="button" class="button_sample" onclick="createSamples()">Add sample</button>
                    <div class="samples-container"></div>
                    <br>
                    <div class="botao_criar_protocolo">
                        <button class="botao_criar" id="submitButton" type="submit"><img  width="20%" src="add_protocolo_pesquisador.png" alt="criar protocolo"><p> Criar Protocolo</p></button>
                    </div>
                </div>
            </section>
        </main>
        <script src="c_protocol.js"></script>
    </body>
</html>