<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"/>
        <link rel= 'stylesheet' href="/index2.css"/>
        <link rel="stylesheet" href="/index.css"/>
        <!-- Link de Google Tradutor -->
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <title>Protocolo</title>
    </head>
    <section class="icones_usabilidade">
        <button id="download-pdf">
            <img class="usabilidade_icone" src="/export_icon.png" alt="Usabilidade Icone">
        </button>
        <img class="usabilidade_icone" src="/trash_icon.png" alt="Usabilidade Icone" onclick="">
    </section>
    <script src="https://unpkg.com/pdf-lib"></script>
    <body>
        <header></header>
        <section id="" class="main-section">
            <p id="id-protocolo" hidden>{{id_protocol}}</p>
            <div class="image-section">
                <picture>
                    <img src="{{coverImage_protocol}}" style="width: 50%; border-radius: 15px" alt="">
                </picture>
                <div id="nome-do-protocolo">{{name_protocol}}</div>
                <div id="objetivo-protocolo">{{objective_protocol}}</div>
            </div>
            <section id="dynamic-form"></section>
        </section>
        <footer></footer>
        <script src="/listingProtocolsFinished.js" defer></script>
        <script src="translate.js"></script>
    </body>
</html>
