<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teste CRUD - Projeto Natura</title>
    </head>
    <body>
        <img style="width: 5%;" src="https://img.icons8.com/material/96/null/left2--v1.png"/>      
        <main>
            <h1>Teste CRUD - Projeto Natura</h1>
            <section>
                <h2>(C) Criar um novo protocolo</h2>
                <form method="POST" action="/protocols">
                    <label for="name">Nome do protocolo:</label>
                    <input type="text" name="name" id="name" required>
                    <br>
                    <label for="objective">Objetivo do protocolo:</label>
                    <input type="text" name="objective" id="objective" required>
                    <br>
                    <label for="collector">Coletor(a) responsável:</label>
                    <input type="text" name="collector" id="collector" required>
                    <br>
                    <button type="submit">Criar protocolo</button>
                </form>
            </section>
            <section>
                <h2>(R) Protocolos criados</h2>
                <a href='/protocols'><button>Visualizar</button></a>
            </section>
            <section>
                <h2>(U) Quero editar um protocolo já existente</h2>
                <a href='/editProtocols'><button>Editar protocolo</button></a>
            </section>
            <section>
                <h2>(D) Quero excluir um protocolo</h2>
                <form onsubmit="deleteProtocol(event)" action="/protocols/:id">
                    <label for="id">Insira o ID do protocolo que deseja excluir:</label>
                    <input type="number" name="id" id="id" required>
                    <br>
                    <button type="submit">Deletar protocolo</button>
                </form>
                <script>
                    function deleteProtocol(event){
                        event.preventDefault();
                        const id = document.getElementById('id').value;
                        fetch(`/protocols/${id}`, {
                            method: 'DELETE',
                        })
                        .then(response => {
                            if (!response.ok){
                                throw new Error(response.statusText);
                            }
                            alert('Protocolo excluído com sucesso!');
                        })
                        .catch(error => {
                            console.error(error);
                            alert('Erro ao excluir protocolo.');
                        });
                    };
                </script>
            </section>
        </main>
    </body>
</html>