<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notificação</title>
    <link rel="stylesheet" href="stylesPesquisador.css" />
  </head>

  <nav id="mySidenav" class="sidenav">
    <a href="#" > <img src="logo_menu_inativa.png" alt="Apotich"></a>
    <a href="/researcher_profile" > <img src="profile_icon_menu.png" alt="Perfil"></a>
    <a href="#" > <img src="home_icone_menu.png" alt="Home"></a>
    <a href="/notificationsResearchers" > <img src="bell_icon_inativo_menu.png" alt="Notificações"></a>
    <a href="#" > <img src="add_protocolo_pesquisador.png" alt="Criar Protocolo"></a>
    <p id="logo_fim_rodape">Apotich</p>
  </nav>

  <section class="box_head_notificacao">
  <div class="head_notificacao">
    <h1 class="noti">Notificações</h1>
    <img class="bell_icon_"  src="sino_branco.png" />
  </div>
  </section>

  <body>

    <main>

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notificacao">
            <br />
            <p>Quadro 1</p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
    </section>

    <section class="divisoria_notificacao"> 
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <p>Quadro 2</p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
    </section>

      <section class="divisoria_notificacao"></section>
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <p>Quadro 3</p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
      </section>

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <p>Quadro 4</p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
    </section>

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <p>Quadro 5</p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
     </section>

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <p>Quadro 6</p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
      </section>

      <section class="divisoria_notificacao">
        <div class="linha">
          <div class="box_notifcacao">
            <br />
            <p>Quadro 7</p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta
              eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper
              quis augue et, facilisis dignissim diam. Nunc id dui vitae est
              aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac
              orci eu imperdiet. Proin elit nunc, fermentum nec felis quis,
              aliquam consequat leo.
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
