<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index2.css">
    <title>Perfil Pesquisador</title>
</head>
<body>
  <script>
    function voltar() {
      history.back();
    }
  </script>
  <button  class="voltar_button" onclick="voltar()">
    <img class="voltar" width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/u-turn-to-left.png" alt="u-turn-to-left"/> 
  </button>

</head>

<nav id="mySidenav" class="sidenav">
  <a href="/home_researcher" > <img class="icon_menu" src="logo_menu_inativa.png" alt="Apotich"></a>
  <a href="/researcher_profile" > <img class="icon_menu" src="profile_icon_menu.png" alt="Perfil"></a>
  <a href="/home_researcher" > <img class="icon_menu" src="home_icone_menu.png" alt="Home"></a>
  <a href="/notificationsResearchers" > <img class="icon_menu" src="bell_icon_inativo_menu.png" alt="Notificações"></a>
  <a href="/createProtocol" > <img class="icon_menu" src="add_protocolo_pesquisador.png" alt="Criar Protocolo"></a>
  <p id="logo_fim_rodape">Apotich</p>
</nav>

<body>
    <main>
      <section>
        <img class="perfil" src="https://img.icons8.com/material/96/null/user-male-circle--v1.png" alt="Perfil"> <br>
        <img class="perfil" src="#" alt="Perfil">

        <div class="perfil_caixa">
          <img class="perfil_icone" src="perfilUm.png" alt="Perfil Icone" onclick="">
          <img class="perfil_icone" src="perfilDois.png" alt="Perfil Icone" onclick="">
          <img class="perfil_icone" src="perfilTres.png" alt="Perfil Icone" onclick="">
          <img class="perfil_icone" src="perfilQuatro.png" alt="Perfil Icone" onclick="">


        </div>

      </section>
    <br>
    <h3>Perfil Pesquisador</h3>
<section style="margin-bottom: 15px;">


    <button class="button button1" >Nº de Lavouras</button>
    <br>
    <button class="button button1">Produtos</button>
    <br>
    <button class="button button1">Protocolos</button>
    <br>
    <button class="button button1">Outros</button>

    </main>

</section>
    
</body>
</html>