<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class="delete" aria-hidden="true" ng-click="deleteProtocol">
        <img class="trash-natura-icon" src="../../public/img/icons/trash-natura-icon.png" height="40px">
    </button>
    <style>
        .delete{
            background-color: white;
            border-radius: 15px;
            border: 2px solid #52b362;
            width: 72px;
            height: 72px;
        }

        .delete:hover{
            background-color: #52b362;
            transition-duration: 0.4s;
        }

        .trash-natura-icon:hover{
            transition-duration: 0.4s;
            filter: invert(100%);
            width: 45px;
            height: 45px;
        }


    </style>
</body>
</html>