<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colectors Protocols</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"/>
    <link rel="stylesheet" href="stylesProdutor.css" />
    <script src="scriptProdutor.js" defer></script>
    <!--  defer: read the js file last -->
  </head>
  <body>
    <header></header>
    <section id="" class="main-section">
      <form id=""></form>
      <div class="image-section">
        <div class="image-div"></div>
        <div
          class=""
          style="
            position: absolute;
            top: 85%;
            left: 10%;
            background-color: aliceblue;
          "
        >
          Nome do protocolo
        </div>
      </div>
      <section id="dynamic-form">
        <!-- Here would be the forms -->
        <fieldset>
          <legend>Info</legend>
          <div id="bloco-central">
            <label>Nome</label>
            <br />
            <input type="text" />
          </div>
        </fieldset>
      </section>
    </section>
    <footer></footer>
  </body>
</html>
