<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colectors Protocols</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"/>
    <link rel="stylesheet" href="stylesProdutor.css" />
    <!--  defer: read the js file last -->
    <style>
      fieldset {
        margin: 15px;
        padding: 10px;
      }
      #send-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px;
        border-radius: 15px ;
        width: 100px;
      }
      #send-button:hover {
        background-color: #2b642d;
      }
      #send-button:active {
        background-color: white;
        color:#4CAF50;
      }

      
    </style>
  </head>
  <body>
    <header></header>
    <section id="" class="main-section">
      <p id="id-protocolo" hidden></p>
      <div class="image-section">
        <div class="image-div"></div>
        <div
          id="nome-do-protocolo"
          class=""
          style="
            position: absolute;
            top: 85%;
            left: 10%;
            background-color: aliceblue;
          "
        >
          
        </div>
        <div id="objetivo-protocolo">

        </div>
      </div>
      <section id="dynamic-form">
      </section>
      <div style="display: flex; justify-content: center;">
        <button id="send-button" onclick="finalizarTeste()">Enviar</button>
        <script>
          function finalizarTeste() {
            alert("Thank you very much! You have tested the main functionalities of our application! =)");
          }
        </script>
      </div>
      
    </section>
    <footer></footer>
    <script src="scriptProdutor.js" defer></script>
  </body>
  
</html>
