<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index3.css">
    <title>Perfil Pesquisador</title>
</head>
<body>
  <script>
    function voltar() {
      history.back();
    }
  </script>
  <button  class="voltar_button" onclick="voltar()">
    <img class="voltar" width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/u-turn-to-left.png" alt="u-turn-to-left"/> 
  </button>

</head>

<nav id="mySidenav" class="sidenav">
  <a href="/home_collector" > <img src="logo_menu_inativa.png" alt="Apotich"></a>
  <a href="/collector_profile" > <img src="profile_icon_menu.png" alt="Perfil"></a>
  <a href="/home_collector" > <img src="home_icone_menu.png" alt="Home"></a>
  <a href="/notificationsCollectors" > <img src="bell_icon_inativo_menu.png" alt="Notificações"></a>
  <p id="logo_fim_rodape">Apotich</p>
</nav>

<body>
    <main>
      <section>
        <img class="perfil" style="width: 20%;" src="https://img.icons8.com/material/96/null/user-male-circle--v1.png" alt="Perfil"> <br>
        <img class="perfil" src="#" alt="Perfil">

        <div>
          <img class="perfil_icone" src="perfilUm.png" alt="Perfil Icone" onclick="">
          <img class="perfil_icone" src="perfilDois.png" alt="Perfil Icone" onclick="">
          <img class="perfil_icone" src="perfilTres.png" alt="Perfil Icone" onclick="">
          <img class="perfil_icone" src="perfilQuatro.png" alt="Perfil Icone" onclick="">


        </div>

      </section>
    <br>
    <h3>Perfil Coletor</h3>
<section style="margin-bottom: 15px;">

    <button class="button button1">Ideias</button>
    <br>
    <button class="button button1">Capacitação</button>
    <br>
    <button class="button button1">Natura</button>

    </main>

</section>
    
</body>
</html>