<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificação</title>
	
    
</head>
<img width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/u-turn-to-left.png" alt="u-turn-to-left"/>
<body style="margin:center; text-align: center; align-items: center; ">

    <h3>Notificações</h3>

    <main style=" margin-left: 625px;">
	<div class="linha1" style="width: 30%; height: 300px; background-color: green; border-radius: 20px; align-content:ce
    ; align-self: center; ">
		<div class="verde" style="align-items: center; text-align: center; margin: auto;" >
            <br>
		     <p>Quadro 1 </p>
             <br>
             <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta eros neque, at rutrum dolor euismod ac. Quisque nunc lorem, semper quis augue et, facilisis dignissim diam. Nunc id dui vitae est aliquam vestibulum. Nullam eu fringilla orci. Fusce convallis ac orci eu imperdiet. Proin elit nunc, fermentum nec felis quis, aliquam consequat leo. </p>	
	    </div>
	</div>    
    </main>


</body>
</html>