<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protocolo</title>
    <link rel= 'stylesheet' href="../../public/css/index.css">

</head>
<body>
  <img class="volta_button" width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/u-turn-to-left.png" alt="u-turn-to-left"/>
    
  <picture>
    <img src="../../public/img/acai.jpg" style="width: 50%; border-radius: 15px;" alt="Açai">
  </picture>
    <form>
        <label for="fname">Juninho ta bem:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Qual o nome da Elsa ?:</label><br>
        <input type="text" id="lname" name="lname">
      </form>

      <form>
        <label for="fname"> Conta sobre vc:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Lorena Ipsuna:</label><br>
        <input type="text" id="lname" name="lname">
      </form>

      <form>
        <label for="fname">Ive been every where:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Looking for someone</label><br>
        <input type="text" id="lname" name="lname">
      </form>

      <form>
        <label for="fname">Someone who can please me</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname"> O açai esta ùmido ?</label><br>
        <input type="text" id="lname" name="lname">
      </form>


      <p>Qual o nome da Judith?</p>
      <form>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> Lorena Ipsuna</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> Lorena Ipsuna</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> Lorena Ipsuna</label>
      </form>

      <p>Qual o nome da Judith?</p>
      <form>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> Lorena Ipsuna</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> Lorena Ipsuna</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> Lorena Ipsuna</label>
      </form>

      <p>Qual o nome da Judith?</p>
      <form>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> Lorena Ipsuna</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> Lorena Ipsuna</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> Lorena Ipsuna</label>
      </form>

      <br><br>
      <button class="envia" type="button" onclick="alert('Concluido com sucesso')">Eviar</button>
</body>
</html>